html {
    background-color: #2b2626;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-header {
    text-align: center;
    color: #00a8ff;
    font-size: 90px;
    margin-top: 20px;
}

.uploadbtn,
.input {
    border: none;
    background: rgba(172, 185, 201, 1) 62% !important;
    color: black !important;
    font-weight: 100;
    padding: 15px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#csv-form {
    position: relative;
}

body {
    text-align: center;
}

p,
a,
h1 {
    text-align: center;
    color: #00a8ff;
    font-size: 90px;
    margin-top: 20px;
}

a {
    color: red;
}