html {
    background-color: #2b2626;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login {
    border: 1px solid #00a8ff;
    background-color: #00a8ff;
    color: white;
}

#login:hover {
    cursor: pointer;
    background-color: #00a8ff;
    border-color: #00a8ff;
}

label, input {
    display: block;
    font-size: 25px;
    margin-top: 15px;
    color: #00a8ff;
}

input {
    margin-right: auto;
    margin-left: auto;
    width: 99%;
}

fieldset {
    position: relative;
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid #00a8ff;
    border-radius: 15px;
}

#main-header {
    text-align: center;
    color: #00a8ff;
    font-size: 90px;
    margin-top: 20px;
}

#errors {
    color: red;
}