.background {
    background: rgb(240, 240, 245);
    background: -moz-radial-gradient(
      circle,
      rgba(240, 240, 245, 1) 20%,
      rgba(172, 185, 201, 1) 62%,
      rgba(102, 145, 204, 1) 100%
    );
    background: -webkit-radial-gradient(
      circle,
      rgba(240, 240, 245, 1) 20%,
      rgba(172, 185, 201, 1) 62%,
      rgba(102, 145, 204, 1) 100%
    );
    background: radial-gradient(
      circle,
      rgba(240, 240, 245, 1) 20%,
      rgba(172, 185, 201, 1) 62%,
      rgba(102, 145, 204, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f5",endColorstr="#6691cc",GradientType=1);
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .header {
    text-align: center;
    background: #373737;
    color: black;
    font-size: 15px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .themesbtn {
      float: left;
      color: white;
      font-size: larger;
      padding-top: 15px;
      padding-left: 15px;
  }
  
  .logoutbtn {
    float: right !important;
    border: none;
    background: rgba(172, 185, 201, 1) 62% !important;
    color: black !important;
    font-weight: 100;
    padding: 15px;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
  .logoutbtn:hover {
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
  }